body{
    background-color: #154360;
}

.post{
    font-family: 'Roboto', sans-serif;
    background-color: #2471A3 ;
    color:#D6EAF8;
    width: 70vw;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #7FB3D5;
    text-align: center;
    border-radius: 20px;
}
h1{
margin-bottom: 0px;
}
#cabecera{
    color: #F4D03F;
    background-color: rgba(0, 0, 0, 0.4);
    padding:10px 0 10px 0;
    color: #E74C3C;

}


p{
    margin-top: 0;
}
span{
    font-weight: bold;
    color: black;
}

img{
    width: inherit;
    border-radius: 20PX;
}