body{
    background-color: #154360;
}

.post{
    font-family: 'Roboto', sans-serif;
    background-color: #2471A3 ;
    color:#D6EAF8;
    width: 70vw;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #7FB3D5;
    text-align: center;
    border-radius: 20px;
}


#cabecera{ 
    color: #F4D03F;
}


#header{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0 10px 0;
    margin: 10px -20px 10px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header div{
   display: inline-block;
   text-align: left;
}

#header h1,p{
    padding: 0;
    margin: 0;
}

#header img{
 float: left;
 width: 100px;
 border-radius: 50%;
 margin-right: 10px;
}


p{
    margin-top: 0;
}
span{
    font-weight: bold;
    color: black;
}

img{
    width: inherit;
    border-radius: 20PX;
}

#footer{
    padding: 20px;
   border: 2px rgb(3, 15, 26,0.5) solid;
}